<div class="container">
  <h2 class="h4">Reserva de turnos de recepción</h2>

  <div class="row g-3 mb-3">
    <div class="col-12 col-sm-6 col-md-3">
      <label class="form-label">Fecha</label>
      <input type="date" class="form-control" [(ngModel)]="fecha">
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <label class="form-label">Hora inicio agendamiento</label>
      <select class="form-select" [(ngModel)]="horaInicioAgendamiento">
        <option *ngFor="let h of horas" [value]="h">{{ h }}</option>
      </select>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <label class="form-label">Hora fin agendamiento</label>
      <select class="form-select" [(ngModel)]="horaFinAgendamiento">
        <option *ngFor="let h of horas" [value]="h">{{ h }}</option>
      </select>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <label class="form-label">Proveedor</label>
      <select class="form-select" [(ngModel)]="idProveedor">
        <option [ngValue]="null">-- Seleccione --</option>
        <option *ngFor="let p of listaProveedores" [value]="p.idProveedor">{{ p.nombre }}</option>
      </select>
    </div>
  </div>

  <h3 class="h5">Productos</h3>
  <div class="table-responsive">
  <table class="table table-sm table-striped align-middle">
    <thead class="table-light">
      <tr>
        <th style="width: 3rem;"></th>
        <th>Producto</th>
        <th style="width: 10rem;">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productosSel">
        <td>
          <input class="form-check-input" type="checkbox" [checked]="p.seleccionado" (change)="alternarSeleccion(p)">
        </td>
        <td>{{ p.nombre }}</td>
        <td>
          <input class="form-control" type="number" min="0" [disabled]="!p.seleccionado" [(ngModel)]="p.cantidad" style="max-width: 8rem;">
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="mt-3">
    <button class="btn btn-success" (click)="guardar()">Registrar reserva</button>
  </div>
</div>
